@font-face {
    font-family: 'SourceHanSansSC';
    src: url('@/assets/fonts/SourceHanSansSC.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-overflow-scrolling: touch;

    touch-action: pan-y;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    -webkit-tap-highlight-color: transparent;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

html, body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // overflow-y: overlay;
    overflow-y: auto;
    // scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 600px) {
    html {
        scrollbar-width: auto;

        &::-webkit-scrollbar {
            display: initial;
            width: 10PX;
        }
    
        &::-webkit-scrollbar-thumb {
            border: 1px solid rgba(170, 170, 170, 0.25);
            background: rgba(160, 160, 160, 0.25);
        }

        &::-webkit-scrollbar-thumb:active {
            border: 1px solid rgba(160, 160, 160, 0.25);
            background: rgba(150, 150, 150, 0.25);
        }
    
        &::-webkit-scrollbar-track {
            background: rgb(0, 0, 0, 0);
        }
    }
}

p {
    margin: 0;
}

button {
    border: 0;
    outline: none;
    background: none;
    text-decoration: none;
    font-family: SourceHanSansSC, PingFang SC;

    cursor: pointer;
    // transition: all 0.15s;
    transform-origin: center center;

    &:hover {
        -webkit-filter: brightness(1.1);
        filter: brightness(1.1);
    }

    &:active {
        transform: scale(0.95);
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
    }

    &.disable { 
        pointer-events: none;
        filter: grayscale(0.4);
    }
}

input {
    border: 0;
    outline: 0;
    padding: 0;
    background: none;
    font-family: SourceHanSansSC, PingFang SC;
    text-align: center;

    user-select: auto;
    -ms-user-select: auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
}
